.container .half {
    width: 50%;
    float: left;
}

.container .half ul {
    margin-left: 0;
    min-height: 40px;
}

.container:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.container.container--start {
    padding-top: 50px;
}