@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: not-allowed
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

.foundation-mq {
    font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"
}

html {
    font-size: 100%;
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle
}

textarea {
    height: auto;
    min-height: 50px;
    border-radius: 1px
}

select {
    width: 100%;
    border-radius: 1px
}

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object, .mqa-display img, .mqa-display embed, .mqa-display object {
    max-width: none !important
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 1px;
    line-height: 1
}

[data-whatinput='mouse'] button {
    outline: 0
}

.is-visible {
    display: block !important
}

.is-hidden {
    display: none !important
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

p {
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility
}

em, i {
    font-style: italic;
    line-height: inherit
}

strong, b {
    font-weight: 500;
    line-height: inherit
}

small {
    font-size: 80%;
    line-height: inherit
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.1rem;
    line-height: 1.4
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #C4C4C4;
    line-height: 0
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1.375rem
}

h4 {
    font-size: 1.375rem
}

h5 {
    font-size: 1.125rem
}

h6 {
    font-size: 1.125rem
}

@media screen and (min-width: 40em) {
    h1 {
        font-size: 2.625rem
    }

    h2 {
        font-size: 1.75rem
    }

    h3 {
        font-size: 1.375rem
    }

    h4 {
        font-size: 1.375rem
    }

    h5 {
        font-size: 1.125rem
    }

    h6 {
        font-size: 1.125rem
    }
}

a {
    color: #005EA3;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer
}

a:hover, a:focus {
    color: #00518c
}

a img {
    border: 0
}

hr {
    max-width: 100%;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #C4C4C4;
    border-left: 0;
    margin: 0.625rem auto;
    clear: both
}

ul, ol, dl {
    line-height: 1.6;
    margin-bottom: 1rem;
    list-style-position: outside
}

li {
    font-size: inherit
}

ul {
    list-style-type: disc;
    margin-left: 1.25rem
}

ol {
    margin-left: 1.25rem
}

ul ul, ol ul, ul ol, ol ol {
    margin-left: 1.25rem;
    margin-bottom: 0
}

dl {
    margin-bottom: 1rem
}

dl dt {
    margin-bottom: 0.3rem;
    font-weight: 500
}

blockquote {
    margin: 0 0 1rem;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #C4C4C4
}

blockquote, blockquote p {
    line-height: 1.6;
    color: #6D6D6D
}

cite {
    display: block;
    font-size: 0.8125rem;
    color: #6D6D6D
}

cite:before {
    content: '\2014 \0020'
}

abbr {
    color: #222;
    cursor: help;
    border-bottom: 1px dotted #222
}

code {
    font-family: Consolas, Courier, monospace;
    font-weight: normal;
    color: #222;
    background-color: #F7F9F9;
    border: 1px solid #C4C4C4;
    padding: 0.125rem 0.3125rem 0.0625rem
}

kbd {
    padding: 0.125rem 0.25rem 0;
    margin: 0;
    background-color: #F7F9F9;
    color: #222;
    font-family: Consolas, Courier, monospace;
    border-radius: 1px
}

.subheader {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #6D6D6D
}

.lead {
    font-size: 125%;
    line-height: 1.6
}

.stat {
    font-size: 2.5rem;
    line-height: 1
}

p + .stat {
    margin-top: -1rem
}

.no-bullet {
    margin-left: 0;
    list-style: none
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

@media screen and (min-width: 40em) {
    .medium-text-left {
        text-align: left
    }

    .medium-text-right {
        text-align: right
    }

    .medium-text-center {
        text-align: center
    }

    .medium-text-justify {
        text-align: justify
    }
}

@media screen and (min-width: 64em) {
    .large-text-left {
        text-align: left
    }

    .large-text-right {
        text-align: right
    }

    .large-text-center {
        text-align: center
    }

    .large-text-justify {
        text-align: justify
    }
}

.show-for-print {
    display: none !important
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    .show-for-print {
        display: block !important
    }

    .hide-for-print {
        display: none !important
    }

    table.show-for-print {
        display: table !important
    }

    thead.show-for-print {
        display: table-header-group !important
    }

    tbody.show-for-print {
        display: table-row-group !important
    }

    tr.show-for-print {
        display: table-row !important
    }

    td.show-for-print {
        display: table-cell !important
    }

    th.show-for-print {
        display: table-cell !important
    }

    a, a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    .ir a:after, a[href^='javascript:']:after, a[href^='#']:after {
        content: ''
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    pre, blockquote {
        border: 1px solid #6D6D6D;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr, img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    @page {
        margin: 0.5cm
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.75rem;
    padding: 0.625rem;
    border: 1px solid #C4C4C4;
    margin: 0 0 1.25rem;
    font-family: inherit;
    font-size: 0.9375rem;
    color: #222;
    background-color: #F7F9F9;
    box-shadow: none;
    border-radius: 0;
    transition: box-shadow 0.25s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
    border: 1px solid #000;
    background-color: #fff;
    outline: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.25s, border-color 0.25s ease-in-out
}

textarea {
    max-width: 100%
}

textarea[rows] {
    height: auto
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #C4C4C4
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #C4C4C4
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #C4C4C4
}

input::placeholder, textarea::placeholder {
    color: #C4C4C4
}

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
    background-color: #F7F9F9;
    cursor: default
}

[type='submit'], [type='button'] {
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none
}

input[type='search'] {
    box-sizing: border-box
}

[type='number'] {
    -moz-appearance: textfield
}

[type='number'] [type='number']::-webkit-inner-spin-button, [type='number'] [type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

[type='file'], [type='checkbox'], [type='radio'] {
    margin: 0 0 1.25rem
}

[type='checkbox'] + label, [type='radio'] + label {
    display: inline-block;
    margin-left: 0.625rem;
    margin-right: 1.25rem;
    margin-bottom: 0;
    vertical-align: baseline
}

[type='checkbox'] + label[for], [type='radio'] + label[for] {
    cursor: pointer
}

label > [type='checkbox'], label > [type='radio'] {
    margin-right: 0.625rem
}

[type='file'] {
    width: 100%
}

label {
    display: block;
    margin: 0;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.8;
    color: #222
}

label.middle {
    margin: 0 0 1.25rem;
    padding: 0.6875rem 0
}

.help-text {
    margin-top: -0.625rem;
    font-size: 0.75rem;
    font-style: italic;
    color: #222
}

.input-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 1.25rem;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.input-group > :first-child {
    border-radius: 1px 0 0 1px
}

.input-group > :last-child > * {
    border-radius: 0 1px 1px 0
}

.input-group-label, .input-group-field, .input-group-button {
    margin: 0
}

.input-group-label {
    text-align: center;
    padding: 0 10px;
    background: #F7F9F9;
    color: #222;
    border: 1px solid #C4C4C4;
    white-space: nowrap;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.input-group-label:first-child {
    border-right: 0
}

.input-group-label:last-child {
    border-left: 0
}

.input-group-field {
    border-radius: 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    width: auto;
    height: auto
}

.input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.input-group-button a, .input-group-button input, .input-group-button button {
    margin: 0
}

.input-group .input-group-button {
    display: table-cell
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0
}

legend {
    margin-bottom: 0.625rem;
    max-width: 100%
}

.fieldset {
    border: 1px solid #C4C4C4;
    padding: 1rem;
    margin: 0.9375rem 0
}

.fieldset legend {
    background: #fff;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem
}

select {
    height: 2.75rem;
    padding: 0.625rem;
    border: 1px solid #C4C4C4;
    margin: 0 0 1.25rem;
    font-size: 0.9375rem;
    font-family: inherit;
    line-height: normal;
    color: #222;
    background-color: #fff;
    border-radius: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%280, 0, 0%29"></polygon></svg>');
    background-size: 9px 6px;
    background-position: right center;
    background-origin: content-box;
    background-repeat: no-repeat
}

@media screen and (min-width: 0\0
) {
    select {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==")
    }
}

select:disabled {
    background-color: #F7F9F9;
    cursor: default
}

select::-ms-expand {
    display: none
}

select[multiple] {
    height: auto;
    background-image: none
}

.is-invalid-input:not(:focus) {
    background-color: rgba(255, 79, 88, 0.1);
    border-color: #FF4F58
}

.is-invalid-label {
    color: #FF4F58
}

.form-error {
    display: none;
    margin-top: -0.625rem;
    margin-bottom: 1.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #FF4F58
}

.form-error.is-visible {
    display: block
}

body.is-reveal-open {
    overflow: hidden
}

.reveal-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1005;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: scroll
}

.reveal {
    display: none;
    z-index: 1006;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 0;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto
}

[data-whatinput='mouse'] .reveal {
    outline: 0
}

@media screen and (min-width: 40em) {
    .reveal {
        min-height: 0
    }
}

.reveal .column, .reveal .columns {
    min-width: 0
}

.reveal > :last-child {
    margin-bottom: 0
}

@media screen and (min-width: 40em) {
    .reveal {
        width: 720px;
        max-width: 860px
    }
}

@media screen and (min-width: 40em) {
    .reveal .reveal {
        left: auto;
        right: auto;
        margin: 0 auto
    }
}

.reveal.collapse {
    padding: 0
}

@media screen and (min-width: 40em) {
    .reveal.tiny {
        width: 30%;
        max-width: 860px
    }
}

@media screen and (min-width: 40em) {
    .reveal.small {
        width: 50%;
        max-width: 860px
    }
}

@media screen and (min-width: 40em) {
    .reveal.large {
        width: 90%;
        max-width: 860px
    }
}

.reveal.full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none;
    margin-left: 0;
    border: 0;
    border-radius: 0
}

@media screen and (max-width: 39.9375em) {
    .reveal {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 100vh;
        min-height: 100vh;
        max-width: none;
        margin-left: 0;
        border: 0;
        border-radius: 0
    }
}

.reveal.without-overlay {
    position: fixed
}

.accordion {
    list-style-type: none;
    background: #EEE;
    border: none;
    border-bottom: 0;
    border-radius: 1px;
    margin-left: 0
}

.accordion-title {
    display: block;
    padding: 20px 10px;
    line-height: 1;
    font-size: 0.75rem;
    color: #222;
    position: relative;
    border-bottom: none
}

.accordion-title:hover, .accordion-title:focus {
    background-color: #F7F9F9
}

.accordion-content {
    padding: 10px;
    display: none;
    border-bottom: none;
    background-color: #fff
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/Light/Roboto-Light.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/Light/Roboto-Light.woff?v=1.1.0) format("woff"), url(../../templates/fonts/Light/Roboto-Light.ttf?v=1.1.0) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/Regular/Roboto-Regular.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/Regular/Roboto-Regular.woff?v=1.1.0) format("woff"), url(../../templates/fonts/Regular/Roboto-Regular.ttf?v=1.1.0) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/Regular/Roboto-Regular.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/Regular/Roboto-Regular.woff?v=1.1.0) format("woff"), url(../../templates/fonts/Regular/Roboto-Regular.ttf?v=1.1.0) format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/Italic/Roboto-Italic.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/Italic/Roboto-Italic.woff?v=1.1.0) format("woff"), url(../../templates/fonts/Italic/Roboto-Italic.ttf?v=1.1.0) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/Italic/Roboto-Italic.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/Italic/Roboto-Italic.woff?v=1.1.0) format("woff"), url(../../templates/fonts/Italic/Roboto-Italic.ttf?v=1.1.0) format("truetype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/Medium/Roboto-Medium.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/Medium/Roboto-Medium.woff?v=1.1.0) format("woff"), url(../../templates/fonts/Medium/Roboto-Medium.ttf?v=1.1.0) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/MediumItalic/Roboto-MediumItalic.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/MediumItalic/Roboto-MediumItalic.woff?v=1.1.0) format("woff"), url(../../templates/fonts/MediumItalic/Roboto-MediumItalic.ttf?v=1.1.0) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/Bold/Roboto-Bold.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/Bold/Roboto-Bold.woff?v=1.1.0) format("woff"), url(../../templates/fonts/Bold/Roboto-Bold.ttf?v=1.1.0) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../../templates/fonts/Bold/Roboto-Bold.woff2?v=1.1.0) format("woff2"), url(../../templates/fonts/Bold/Roboto-Bold.woff?v=1.1.0) format("woff"), url(../../templates/fonts/Bold/Roboto-Bold.ttf?v=1.1.0) format("truetype");
    font-weight: bold;
    font-style: normal
}

.hidden {
    display: none;
    visibility: hidden
}

.visible {
    display: inline-block;
    visibility: visible;
    opacity: 1
}

body {
    overflow-x: hidden;
    background-color: #fff
}

html {
    background-color: #222
}

img.maxwidth {
    width: 100%;
    height: auto
}

.reveal {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25)
}

.reveal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 44px;
    line-height: 1;
    color: #C4C4C4
}

.reveal:focus {
    outline: none !important
}

p > a {
    background-color: #F7F9F9;
    padding: 2px 4px;
    border-bottom: 2px solid transparent;
    opacity: .99;
    border-radius: 2px;
    transition: all .1s
}

p > a:hover {
    text-decoration: none !important;
    border-color: #005EA3
}

.conclurer h1, .conclurer h2 {
    font-family: "Ropa Sans", "Roboto", sans-serif
}

.pw-edit-page {
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 2px 5px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    font-weight: 500
}

.pw-edit-page:hover {
    background-color: #005EA3
}

.container, .conclurer .title {
    width: 100%;
    max-width: 860px;
    margin: 0 auto
}

.container-inner {
    padding: 10px
}

.container--slim {
    max-width: 750px
}

.container--medium {
    max-width: 840px
}

.container--large {
    max-width: 1200px
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0.85em 1em;
    margin: 0 0 0 0;
    font-size: 0.9rem;
    background-color: #222;
    color: #fff;
    font-weight: 500;
    border-radius: 2px
}

[data-whatinput='mouse'] .button {
    outline: 0
}

.button:hover, .button:focus {
    background-color: #6D6D6D;
    color: #fff
}

.button--full {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

.button--inline {
    margin-bottom: 10px
}

.button--action {
    background-color: #005EA3;
    color: #fff
}

.button--action:hover, .button--action:focus {
    background-color: #000;
    color: #fff
}

.button--secondary {
    background-color: #EEE;
    color: #222
}

.button--secondary:hover, .button--secondary:focus {
    background-color: #d5d5d5;
    color: #222
}

.button--confirm {
    background-color: #44AF69;
    color: #fff
}

.button--confirm:hover, .button--confirm:focus {
    background-color: #368a53;
    color: #fff
}

.button--inverse {
    background-color: #fff;
    color: #222
}

.button--inverse:hover, .button--inverse:focus {
    background-color: #EEE;
    color: #222
}

.button--selected {
    background-color: #000;
    color: #fff
}

.button--selected:hover, .button--selected:focus {
    background-color: #000;
    color: #fff
}

.button--disabled {
    background-color: #F7F9F9;
    color: #222
}

.button--disabled:hover, .button--disabled:focus {
    background-color: #F7F9F9;
    color: #222
}

.button--outline, .button--outline:hover, .button--outline:focus {
    background-color: transparent
}

.button--deny:hover {
    background-color: #FF4F58;
    color: #fff
}

.button--invisible {
    background-color: transparent;
    color: #222;
    padding-left: 0;
    padding-right: 0
}

.button--invisible:hover, .button--invisible:focus {
    background-color: transparent;
    color: #222
}

.button--highlight {
    background-color: #FAA719;
    color: #222
}

.button--highlight:hover, .button--highlight:focus {
    background-color: #005EA3;
    color: #222
}

.button--highlight:hover {
    color: #fff
}

.button > img {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    margin-right: 3px;
    display: inline-block
}

.button .svg {
    max-width: 18px;
    max-height: 18px;
    margin: -5px 0
}

.mobile .button {
    font-size: 1rem;
    height: 48px;
    font-weight: normal
}

.banner {
    width: 100%;
    padding: 2px 0
}

.banner--colored {
    background-color: #F7F9F9
}

.banner-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.banner-text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 10px
}

.banner-action {
    padding: 5px 10px
}

.headline {
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: .01em
}

@media screen and (min-width: 40em) {
    .headline {
        font-size: 1.375rem
    }
}

p.headline {
    margin-bottom: 0
}

.button--hollow {
    background-color: transparent;
    border-color: #000;
    color: #000;
    text-transform: uppercase
}

.button--hollow:hover {
    background-color: transparent;
    color: #005EA3;
    border-color: #005EA3
}

.button--hollow-invert {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    text-transform: uppercase
}

.button--hollow-invert:hover {
    background-color: transparent;
    color: #FAA719;
    border-color: #FAA719
}

.button--small {
    padding: 10px;
    padding-bottom: 8px;
    line-height: 1
}

.navigation {
    margin: 0;
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (min-width: 40em) {
    .navigation {
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

.navigation--online {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.navigation--online .navigation-item {
    padding: 10px
}

.navigation-item {
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 0;
    font-size: 0.875rem;
    transition: .1s ease-in
}

.navigation-item:hover {
    color: #FAA719
}

.navigation-item--active {
    color: #FAA719
}

.navigation-item--language {
    color: #005EA3
}

@media screen and (min-width: 40em) {
    .navigation-item--language {
        border-left: 1px solid #C4C4C4;
        color: #6D6D6D
    }

    .navigation-item--language:hover {
        color: #005EA3
    }
}

.navigation-item--small {
    text-transform: none;
    opacity: .75;
    font-weight: normal
}

.navigation-item--small + .navigation-item--active {
    opacity: 1
}

@media screen and (min-width: 40em) {
    .navigation-item {
        padding: 10px 20px
    }

    .navigation-item:first-child {
        padding-left: 0
    }
}

.navigation a {
    display: block;
    color: inherit
}

@media screen and (min-width: 40em) {
    .navigation a {
        margin: -10px;
        margin-left: -20px;
        margin-right: -20px;
        padding: 10px 20px
    }
}

.navigation a:hover {
    color: inherit
}

.navigation--mobile {
    margin-left: -10px
}

.logo {
    max-width: 125px;
    max-height: 27px;
    fill: #222
}

.logo--orange {
    fill: #FAA719
}

.logo--white {
    fill: #fff
}

.logo--dark {
    fill: #000
}

.logo-conclurer {
    max-width: 135px;
    max-height: auto;
    -webkit-transform: translateX(-14px);
    -ms-transform: translateX(-14px);
    transform: translateX(-14px)
}

.clients {
    margin: 10px 0;
    list-style: none
}

.client-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F7F9F9
}

.client-item:last-child {
    border-bottom: none
}

.client-title {
    font-size: 1.0625rem;
    color: #FAA719;
    margin-bottom: 10px/""
}

.client-meta {
    list-style: none;
    margin: 0
}

@media screen and (min-width: 40em) {
    .client-meta {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media screen and (min-width: 40em) {
    .client-meta-item {
        -webkit-flex-basis: 21%;
        -ms-flex-preferred-size: 21%;
        flex-basis: 21%
    }

    .client-meta-item:last-child {
        text-align: right
    }
}

.client-meta-item--title {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 37%;
    -ms-flex-preferred-size: 37%;
    flex-basis: 37%
}

.client-meta-label {
    display: block;
    font-size: 80%;
    text-transform: uppercase;
    color: #6D6D6D
}

.accordion-title {
    font-size: 1.0625rem
}

.feature {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none
}

@media screen and (min-width: 40em) {
    .feature {
        padding: 0
    }
}

.feature-item {
    width: 100%;
    padding: 10px
}

@media screen and (min-width: 40em) {
    .feature-item {
        width: 100%;
        padding: 10px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }
}

.feature-inner {
    width: 100%;
    background-color: #F7F9F9;
    padding: 10px 20px;
    border: none;
    border-top: 5px solid #dae3e3;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.feature-icon {
    min-width: 50px;
    max-width: 120px;
    max-height: 120px;
    fill: #000
}

@media screen and (min-width: 40em) {
    .feature-icon {
        padding: 10px
    }
}

.feature-text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 20px
}

.feature-text p {
    margin-bottom: 0
}

.feature--highlight {
    background-color: #000;
    color: #fff
}

.feature--highlight svg {
    fill: #fff
}

.conclurer .feature-icon {
    max-width: 60px;
    max-height: 60px
}

@media screen and (min-width: 40em) {
    .conclurer .feature-icon {
        padding: 0
    }
}

.folder > .accordion {
    margin: 0 10px;
    margin-bottom: 20px
}

.footer {
    background-color: #222;
    color: #fff
}

.footer-inner {
    padding: 20px 10px 0 10px
}

@media screen and (min-width: 40em) {
    .footer-inner {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10px
    }
}

.footer-logo {
    min-width: 120px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.footer-logo a {
    line-height: 0
}

.end {
    background-color: #222;
    color: #fff
}

.end-inner {
    padding: 10px;
    border-top: 1px solid #6D6D6D
}

@media screen and (min-width: 40em) {
    .end-inner {
        border: none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 0
    }
}

.end-conclurer {
    color: #FAA719;
    font-size: 0.875rem;
    font-weight: 500
}

@media screen and (min-width: 40em) {
    .end-conclurer {
        color: #C4C4C4
    }
}

.end-conclurer a {
    color: inherit
}

.end-conclurer a:hover {
    color: #005EA3
}

.header {
    width: 100%;
    background-color: #fff;
    color: #222
}

.header-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px
}

@media screen and (min-width: 40em) {
    .header-inner {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

@media screen and (min-width: 40em) {
    .header--hero {
        padding-top: 10px
    }
}

.header-logo {
    min-width: 120px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.header-logo a {
    line-height: 0
}

.header-logo-conclurer {
    max-width: 130px
}

.header-nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .5s linear
}

.header-nav--active {
    opacity: 1;
    max-height: 100vh
}

@media screen and (min-width: 40em) {
    .header-nav {
        width: auto;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-height: 100vh;
        opacity: 1;
        overflow: visible
    }

    .header-nav .navigation {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .header-nav .button {
        margin-left: 5px
    }
}

.header-toggle {
    padding: 5px 10px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    transition: all .1s
}

@media screen and (min-width: 40em) {
    .header-toggle {
        display: none;
        visibility: hidden
    }
}

.header-toggle-icon {
    text-indent: -9999px;
    color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%3E%3Cg%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.5%200H.5a.5.5%200%200%200-.5.5v1a.5.5%200%200%200%20.5.5h15a.5.5%200%200%200%20.5-.5v-1a.5.5%200%200%200-.5-.5zM15.5%204H.5a.5.5%200%200%200-.5.5v1a.5.5%200%200%200%20.5.5h15a.5.5%200%200%200%20.5-.5v-1a.5.5%200%200%200-.5-.5zM15.5%208H.5a.5.5%200%200%200-.5.5v1a.5.5%200%200%200%20.5.5h15a.5.5%200%200%200%20.5-.5v-1a.5.5%200%200%200-.5-.5z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 26px 26px;
    background-position: center right;
    cursor: pointer;
    transition: all .1s
}

.header-toggle--active .header-toggle-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.071%22%20height%3D%228.07%22%20viewBox%3D%220%200%208.071%208.07%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M7.924%206.51L5.45%204.035%207.925%201.56a.499.499%200%200%200%200-.707L7.217.146a.5.5%200%200%200-.707%200L4.036%202.621%201.561.146a.5.5%200%200%200-.707%200L.147.854a.499.499%200%200%200%200%20.707l2.475%202.475L.147%206.51a.499.499%200%200%200%200%20.707l.707.707a.5.5%200%200%200%20.707%200l2.475-2.475L6.51%207.924a.5.5%200%200%200%20.707%200l.707-.707a.497.497%200%200%200%200-.707z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: 14px 14px
}

.conclurer .header {
    padding: 5px 0
}

.conclurer .header-toggle-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%3E%3Cg%20fill%3D%22%23222%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.5%200H.5a.5.5%200%200%200-.5.5v1a.5.5%200%200%200%20.5.5h15a.5.5%200%200%200%20.5-.5v-1a.5.5%200%200%200-.5-.5zM15.5%204H.5a.5.5%200%200%200-.5.5v1a.5.5%200%200%200%20.5.5h15a.5.5%200%200%200%20.5-.5v-1a.5.5%200%200%200-.5-.5zM15.5%208H.5a.5.5%200%200%200-.5.5v1a.5.5%200%200%200%20.5.5h15a.5.5%200%200%200%20.5-.5v-1a.5.5%200%200%200-.5-.5z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat
}

.conclurer .header-toggle--active .header-toggle-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.071%22%20height%3D%228.07%22%20viewBox%3D%220%200%208.071%208.07%22%3E%3Cpath%20fill%3D%22%23222%22%20d%3D%22M7.924%206.51L5.45%204.035%207.925%201.56a.499.499%200%200%200%200-.707L7.217.146a.5.5%200%200%200-.707%200L4.036%202.621%201.561.146a.5.5%200%200%200-.707%200L.147.854a.499.499%200%200%200%200%20.707l2.475%202.475L.147%206.51a.499.499%200%200%200%200%20.707l.707.707a.5.5%200%200%200%20.707%200l2.475-2.475L6.51%207.924a.5.5%200%200%200%20.707%200l.707-.707a.497.497%200%200%200%200-.707z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat
}

.hero {
    width: 100%;
    background-color: #000;
    background-image: linear-gradient(-180deg, #000 0, #000 78%);
    color: #fff;
    position: relative
}

.hero-head {
    padding: 20px 10px 30px 10px;
    text-align: center;
    z-index: 400;
    position: relative
}

@media screen and (min-width: 40em) {
    .hero-head {
        width: 100%;
        max-width: 748px;
        padding: 120px 0 30px 0;
        margin: 0 auto
    }
}

.hero-teaser {
    display: block;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
    z-index: 400;
    position: relative
}

.hero-teaser--home {
    margin-top: -100px;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    margin-bottom: 100px
}

@media screen and (min-width: 40em) {
    .hero-teaser--home {
        margin-top: -160px;
        -webkit-transform: translateY(180px);
        -ms-transform: translateY(180px);
        transform: translateY(180px);
        margin-bottom: 200px
    }
}

.hero-title {
    line-height: 1.25
}

.hero-button {
    font-size: 1rem;
    padding: 15px 30px;
    margin-top: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25)
}

.hero-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 100
}

.hero-background-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: 1550px auto;
    background-repeat: no-repeat;
    background-position: center bottom
}

@-webkit-keyframes hero-kenburns {
    0% {
        -webkit-transform: scale3D(1.25, 1.25, 1.25);
        transform: scale3D(1.25, 1.25, 1.25)
    }
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
}

@keyframes hero-kenburns {
    0% {
        -webkit-transform: scale3D(1.25, 1.25, 1.25);
        transform: scale3D(1.25, 1.25, 1.25)
    }
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
}

.info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 0
}

@media screen and (min-width: 40em) {
    .info {
        padding: 20px 0
    }
}

.info-box {
    width: 100%;
    padding: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch
}

@media screen and (min-width: 40em) {
    .info-box {
        width: 33.333%;
        padding: 10px
    }
}

.info-inner {
    background-color: #F7F9F9;
    padding: 10px;
    width: 100%
}

@media screen and (min-width: 40em) {
    .info-inner {
        padding: 20px
    }
}

.info-text {
    padding-top: 20px
}

.info-text p {
    margin-bottom: 0
}

.info-title {
    font-size: 1rem;
    margin-bottom: 0;
    color: #000
}

.info-image {
    min-height: 200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (min-width: 40em) {
    .info-image {
        margin: 10px 0
    }
}

.info-image img {
    max-height: 200px
}

.conclurer .info-inner {
    padding: 0;
    background-color: transparent
}

.conclurer .info-text {
    padding-top: 10px
}

.conclurer .info img {
    width: 100%;
    height: auto;
    border-radius: 2px
}

.linked {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0
}

@media screen and (min-width: 40em) {
    .linked {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 50px 0
    }
}

.linked-text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 10px
}

.linked-action {
    padding: 10px;
    padding-top: 0;
    min-width: 200px;
    text-align: center
}

@media screen and (min-width: 64em) {
    .linked-action {
        padding-left: 10px
    }
}

.conclurer .linked-title {
    font-family: "Ropa Sans", "Roboto", sans-serif
}

.pagehead {
    width: 100%;
    padding: 10px
}

@media screen and (min-width: 40em) {
    .pagehead {
        padding-top: 20px
    }
}

.pagehead-title {
    margin-bottom: 0;
    color: #000
}

@media screen and (min-width: 40em) {
    .pagehead-headline {
        max-width: 70%
    }
}

.product-inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.product-presentation {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px
}

@media screen and (min-width: 40em) {
    .product-presentation {
        margin-bottom: 40px
    }
}

.product-presentation img {
    width: 100%;
    height: auto
}

.product-feature {
    width: 100%;
    padding: 10px
}

@media screen and (min-width: 40em) {
    .product-feature {
        width: 50%;
        padding: 10px
    }
}

.product-title {
    color: #000
}

.subnav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    z-index: 400;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25)
}

@media screen and (min-width: 40em) {
    .subnav {
        padding: 5px 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.teaser {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    position: relative;
    padding: 20px 0
}

@media screen and (min-width: 40em) {
    .teaser {
        min-height: 500px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        padding: 0;
        margin-bottom: 10px
    }
}

.teaser-inner {
    padding: 10px;
    color: #fff;
    position: relative;
    z-index: 100
}

@media screen and (min-width: 40em) {
    .teaser-inner {
        padding-right: 30%
    }
}

@media screen and (min-width: 64em) {
    .teaser-inner {
        padding-right: 42%
    }
}

.teaser-inner .headline {
    padding-bottom: 10px
}

.teaser-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75)
}

@media screen and (min-width: 40em) {
    .teaser-overlay {
        right: 25%
    }
}

@media screen and (min-width: 64em) {
    .teaser-overlay {
        right: 40%
    }
}

@media screen and (min-width: 40em) {
    .conclurer .teaser-inner {
        padding-right: 28%
    }
}

@media screen and (min-width: 64em) {
    .conclurer .teaser-inner {
        padding-right: 45%
    }
}

.text {
    width: 100%;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0
}

.text h1, .text h2, .text h3 {
    color: #000
}

.text ul {
    list-style: square
}

.text a:hover {
    text-decoration: underline
}

.text .pagehead-headline {
    max-width: 90%
}

.title {
    padding: 10px;
    text-align: center
}

@media screen and (min-width: 40em) {
    .title {
        padding: 60px 0
    }
}

.title-head {
    color: #000
}

.title-head::after {
    content: '';
    display: block;
    width: 44px;
    height: 1px;
    background-color: #EEE;
    margin: 5px auto
}

.title-headline {
    max-width: 800px;
    display: inline-block
}

.conclurer .title {
    padding: 20px 10px;
    text-align: left
}

@media screen and (min-width: 40em) {
    .conclurer .title {
        padding: 60px 10px
    }
}

.conclurer .title-head {
    color: #005EA3
}

@media screen and (min-width: 40em) {
    .conclurer .title-head {
        padding-right: 25%;
        font-size: 2.375rem
    }
}

.conclurer .title-head::after {
    display: none;
    visibility: hidden
}

body .title:first-of-type {
    padding-top: 20px
}

@media screen and (min-width: 40em) {
    body .title:first-of-type {
        padding-top: 80px
    }
}

#__bs_notify__ {
    top: 95% !important;
    right: 10px !important;
    border-radius: 15px !important;
    height: 60px !important
}